@using Xalag.Properties
@using Xalag.Core
@model Xalag.Models.RegisterUserModel

@{
    var opt = (MultipleStepProgressTabOption)ViewBag.MultipleStepOpt;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Resources.BuyTicket @ViewBag.Session.Title <small>@ViewBag.Session.SubTitle</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
                <li class="active">@Resources.BuyTicket</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    @Html.MultipleStepProgressTab(opt)

    @using (Html.BeginForm("RegisterUser", "Register", new { placeId = ViewBag.Session.PlaceId }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
    {
        @Html.AntiForgeryToken()

        <h4>@opt.Steps[opt.CurrentStepIndex - 1]</h4>
        <hr />

        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Resources.FirstName, @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.FirstName) })
            </div>
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Resources.LastName, @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.LastName) })
            </div>
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MobileNo, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = Resources.MobileNo + "   مثل: 9123456789", @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.MobileNo) })
            </div>
            @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", placeholder = Resources.Birthday + "   مثل: 1367/12/18", @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.Birthday) })
            </div>
            @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NatrualCode, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.NatrualCode, new { @class = "form-control", placeholder = Resources.NatrualCode, @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.NatrualCode) })
            </div>
            @Html.ValidationMessageFor(m => m.NatrualCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-xs-3 control-label" })
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.Email, @data_val_required = string.Format(Resources.The_0_field_is_required, Resources.Email) })
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <a class='btn btn-success' href="javascript:void()" onclick="document.getElementById('registerForm').submit();" style="width: 180px;">
                <span class='glyphicon glyphicon-circle-arrow-right'></span>&nbsp;@Resources.Register
            </a>
        </div>
    }

</div>